  
html{
		background-image: url("./images/wallpaper-the-sun-music-space-background-neon-80s-synth-qjntxedfg8wxdnnd.jpg");
		  height: auto;
		  background-repeat: no-repeat;
		  background-size:cover;
		   
	  
}

.Main-Card-Box > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}
.cardRow{
	border: solid 5px rgb(245, 13, 245);
}

.card-image-box {
	border: solid 3px black;
	position: relative;
	transition: transform 0.2s;
}

.card-image-box:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.card-image-box:hover .overlay {
	opacity: 2;
}

.overlay {
	
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.7s ease;
	opacity: 0;
	bottom: 65px;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.card-list-box{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}


h1 {
  margin: 20px 0 0;

}

.content-title{
	color: cyan;
	font-size: 20px;
	font-family: monospace;
}
span{
	font-family: monospace;
	text-align: center;
	color:aqua;
}

.link-colors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   background-color: black;
   padding: 20px;
   gap: 50px;
   font-family: monospace;

}
.home-title-box{
	position: relative;
    top: 70px;
    border-radius: 5cm;
    border-top: solid 0.2px;
    border-bottom: solid 0.2px;
	text-align: center;
    color: cyan;
    font-size: 30px;
    font-family: monospace
}

.savedCardsBox{
border: solid 5px whitesmoke;
flex-wrap: wrap;
}

a{
	font-size: 20px;
  color:aqua;
}
.search-input{
	margin-bottom: 15px;
}

.contact-list{
	position: relative;
    top: 70px;
    border-top: solid 1px cyan;
    border-bottom: solid 1px cyan;
	text-align: center;
    color: cyan;
    font-size: 25px;
    font-family: monospace
}

/*Mobile Only*/
@media only screen and (min-width: 360px) and (max-width: 720px){

	html {
		height: 75vh;
		background-repeat: repeat;
	}

	.cardRow{
		border: none;
	}

	.card-image-box {
		border: solid 5px rgb(238, 11, 238)
	}

	.savedCardsBox{
		border: none;
	}

	.card-list-box{
		flex-wrap: none;
		justify-content: none;
	}
}
/*Tablet Only*/
@media only screen and (min-width: 721px) and (max-width: 1024px){

html {
	background-repeat: unset;
	background-size: unset;
}
.cardRow{
	border: none;
}

.card-image-box{
	border: solid 5px magenta;
}

.card-list-box {
	flex-wrap: unset;
	justify-content: unset;
}
.savedCardsBox{
	border:none;
	flex-wrap: wrap;
}
}

/*Laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1440px){
	html{
		height: 90vh;
		background-repeat: repeat;
		background-size: cover;
	}
}

