  


body {
	background:white;
	color: green;
}

.Main-Card-Box > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.card-image-container {
	position: relative;
	transition: transform 0.2s;
}

.card-image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.card-image-container:hover .overlay {
	opacity: 2;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.7s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}



h1 {
  margin: 20px 0 0;
}
/*Boogeyman CSS*/


/*Form CSS*/



.link-colors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   background-color: black;
   padding: 20px;
   gap: 50px;

}


a{
  color:red;
}
